<div class="mobile-nav-contianer" [ngClass]="{ active: menuState }">
  <div (click)="closeMenu()" class="close-btn">&#10005;</div>
  <div class="logo">
    <img src="../../../assets/logos/logo-black.png" />
  </div>

  <div class="input-box">
    <div *ngIf="errorMessige === ''" class="desc-text">
      Enter the name of the city
    </div>
    <div style="color: red" *ngIf="errorMessige !== ''" class="desc-text">
      {{ errorMessige }}
    </div>
    <!-- input -->
    <form
      (ngSubmit)="submitInput()"
      [formGroup]="inputForm"
      class="example-form"
    >
      <mat-form-field color="accent" class="city-main-input">
        <mat-label>Search City Forecast</mat-label>
        <input
          placeholder="City"
          #inputElement
          formControlName="cityInput"
          matInput
        />
      </mat-form-field>
    </form>
  </div>

  <!--  Georgian cities  -->
  <div (click)="dropdownCities('geo')" class="nav-item mat-h2">
    Georgian Cities
  </div>

  <!--  Worldwide cities  -->
  <div (click)="dropdownCities('wrld')" class="nav-item mat-h2">
    Worldwide Cities
  </div>

  <!--  fav cities  -->
  <div (click)="dropdownCities('saved')" class="nav-item mat-h2 active">
    <span> Favorite Cities </span>
  </div>
</div>

<app-cities-fropdown></app-cities-fropdown>
