@use "../../../global-styles/abstracts" as a;
@use "../../../global-styles/base" as b;

.hero-container {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../../assets/pages/home/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-logo {
  display: block;
  width: 15rem;
  margin: 0 auto;
  padding-top: 11rem;
  margin-bottom: 4rem;
}

.hero-content-container {
  width: b.$container-small-width;
  margin: 0 auto;
}

.hero-content {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../../assets/pages/home/weather-types/thunderstorm-sq.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.15);
}

.main-weather-content {
  background-color: rgba($color: a.$color-primary-white, $alpha: 0.7);
  border-radius: 0.5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__left-side {
  }
  &__right-side {
  }
}

.country-n-city {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  & p {
    margin-bottom: 0;
  }
}

.weatherDeg-n-logo {
  display: flex;
  align-items: center;
  & p {
    margin-bottom: 0;
  }
}

.weather-type-n-deg {
  display: flex;
  gap: 1rem;

  & p,
  & span {
    margin-bottom: 0;
  }
}

// right side
.details-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 1.5rem;

  & span {
    color: a.$color-primary-blue-dark;
    font-weight: 600;
    letter-spacing: 2px;
  }

  &:not(:last-child) {
    border-bottom: solid rgba($color: a.$color-secondary, $alpha: 0.5) 2px;
  }
}
