<div class="home-page-container">
  <div class="hero-container">
    <div class="hero-content-container">
      <img
        class="main-logo"
        src="../../../assets/logos/logo-white.png"
        alt="white logo"
      />
      <div
        *ngIf="mainData$ | async as data"
        class="hero-content"
        [style.background-image]="getBackgroundImage()"
      >
        <!-- main content -->
        <div class="main-weather-content">
          <div class="main-weather-content__left-side">
            <!-- date and time -->
            <p class="mat-subtitle-1">{{ data.date_n_time }}</p>

            <!-- country and city -->
            <div class="country-n-city">
              <p class="mat-headline-4">{{ data.country }},</p>
              <p class="mat-headline-4">{{ data.city }}</p>
            </div>

            <!-- weather degree and logo -->
            <div class="weatherDeg-n-logo">
              <p class="mat-headline-2">{{ data.temp }}</p>
              <img [src]="data.icon_url" alt="Weather Icon" />
            </div>

            <!-- weather type and how degree feels like -->
            <div class="weather-type-n-deg">
              <p class="mat-subtitle-1">{{ data.weather_desc }}</p>
              <span class="mat-subtitle-1">/</span>
              <p class="mat-subtitle-1">feels like: {{ data.feels_like }}</p>
            </div>

            <div class="add-tobookmars">
              <div class="mat-body-strongadd-title">Save City</div>
              <button
                (click)="addToBookmarks(data.city)"
                mat-fab
                color="accent"
                class="button-bookmark"
                aria-label="bookmark icon button with a bookmark icon"
              >
                <mat-icon *ngIf="cityAdded" class="bookmark-icon"
                  >bookmark</mat-icon
                >
                <mat-icon *ngIf="!cityAdded" class="material-symbols-outlined">
                  bookmark_add
                </mat-icon>
              </button>
            </div>
          </div>

          <div class="main-weather-content__right-side">
            <!-- wind -->
            <div class="details-box">
              <p class="mat-subtitle-1">
                <span> Wind Speed: </span>
                {{ data.wind_speed }}
              </p>
              <p>
                <span> Wind Degree: </span>
                {{ data.wind_deg }}
              </p>
            </div>

            <!-- sunrise sunset -->
            <div class="details-box">
              <p class="mat-subtitle-1">
                <span> Sun Raise: </span>

                {{ data.sun_rise }}
              </p>
              <p>
                <span> Sun Set: </span>
                {{ data.sun_set }}
              </p>
            </div>

            <!-- visibility pressure -->
            <div class="details-box">
              <p class="mat-subtitle-1">
                <span> Pressure: </span>

                {{ data.pressure }}
              </p>
              <p>
                <span> Visibility: </span>
                {{ data.visibility }}
              </p>
            </div>

            <!-- visibility pressure -->
            <div class="details-box">
              <p class="mat-subtitle-1">
                <span> Cloud: </span>

                {{ data.clouds }}
              </p>
              <p class="mat-subtitle-1">
                <span> Condition: </span>

                {{ data.weather }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
