@use "../../../global-styles/abstracts" as a;

.background-container {
  // background-color: a.$color-primary-blue-dark;

  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color: a.$color-primary-white, $alpha: 0.8);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.11);

  z-index: 100 !important;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  & img {
    width: 5rem;
    height: 5rem;
  }
}

.links-container {
  display: flex;

  & .drow-down {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: a.$color-primary-blue-dark;
    padding: 2rem 3rem;
    border-top: transparent solid 2px;
    transition: all 0.5s ease-in-out;
    letter-spacing: 2px;
    text-decoration: underline transparent;
    cursor: default;
    & svg {
      width: 3rem;
      color: a.$color-secondary;
      transition: all 0.5s ease-in-out;
    }
  }
}

.drow-down.drow-down-active {
  background-color: a.$color-primary-blue;
  color: a.$color-primary-white !important;
  & svg {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
  }
}

.input-cities-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.button-bookmark {
  height: 4rem;
  width: 4rem;
}

.bookmark-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-mat-form-field {
  transform: translateY(1.3rem) !important;
}

.input-container {
  position: relative;
}
.err-message {
  position: absolute;
  bottom: -2.5rem;
  color: red;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  letter-spacing: 1px;
  transform: translateX(-50%) translateY(-4.5rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}
.err-message-active {
  transform: translateX(-50%) translateY(0rem);
  opacity: 1;
  visibility: visible;
}

// DROPW DOWN

.bookmark-container {
  position: relative;
  padding: 1rem 3rem;
}
.dropdown {
  position: absolute;
  right: 0;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.activeDropdown {
  opacity: 1;
  visibility: visible;
}

.bookmarked-cities-container {
  background-color: rgba($color: a.$color-primary-white, $alpha: 1);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  & p {
    border-bottom: solid a.$color-secondary 2px;
    padding: 0.5rem 0;
  }

  & li {
    list-style: none;
    text-align: center;

    & span {
      display: block;
      padding: 0.3rem 0;
      &:hover {
        text-decoration: underline;
        color: a.$color-secondary;
        cursor: pointer;
      }
    }
  }
}

.no-citties-dropdown {
  position: absolute;
  right: -10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba($color: a.$color-secondary, $alpha: 1);
  color: a.$color-primary-white;
  width: max-content;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 1050px) {
  .background-container {
    display: none;
  }
}
