<div class="background-container">
  <div class="container">
    <div class="nav-container">
      <a class="logo-link">
        <img src="../../../assets/logos/logo-black.png" alt="logo" />
      </a>

      <div class="links-container">
        <a href=""
          ><span>Georgian Cities</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </a>
        <a href="">
          <span>Worldwide Cities </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </a>
      </div>

      <div class="input-cities-box">
        <mat-form-field
          class="custom-mat-form-field"
          appearance="outline"
          color="accent"
        >
          <mat-label>City</mat-label>
          <input matInput />
          <mat-icon color="accent" matSuffix>search</mat-icon>
        </mat-form-field>

        <button
          mat-fab
          color="accent"
          class="button-bookmark"
          aria-label="bookmark icon button with a bookmark icon"
        >
          <!-- <mat-icon class="bookmark-icon">bookmark</mat-icon> -->
          <mat-icon class="bookmark-icon">bookmark_border</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
