// container
$container-large-width: 140rem;
$container-default-width: 130rem;
$container-small-width: 100rem;

// margin

// font-size
// $font-size-heading: 4rem;
// $font-size-sub-heading: 1.6rem;
// $font-size-form-heading: 1.8rem;

// $card-small-text: 1.2rem;

// height
// $hero-height: 65rem;

// meadia sizes

// $font-size-heading-950: 3rem;
// $font-size-sub-heading-950: 1.5rem;

// $font-size-heading-750: 2.2rem;
// $font-size-sub-heading-750: 1.2rem;

// $font-size-heading-500: 1.8rem;
// $font-size-sub-heading-500: 1rem;

// $font-size-heading-400: 1.6rem;
// $font-size-sub-heading-400: 1rem;

// $card-secondary-tect-resp: 1.2rem;
// $card-secondary-tect-resp-s: 1rem;

// conrainer
// height
// $hero-height-950: 40rem;
// $hero-height-750: 35rem;
// $hero-height-500: 35rem;
// $hero-height-400: 35rem;
